<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Marca</mat-card-title>
        </mat-card-header>
        <mat-card-content class="container">
            <div class="input-name row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Nombre de la Marca" formControlName="nameMarca" [(ngModel)]="nameMarca">
                        <mat-error *ngIf="addressForm.controls['nameMarca'].hasError('required')">
                            Es <strong>requerido</strong> el nombre de la Marca.
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>
            <div class="row">
                <button class="col button-send" mat-raised-button color="secondary" (click)="cancel()">Cancelar</button>
                <button mat-raised-button color="primary" type="submit" class="col button-send">Guardar</button>
            </div>
        </mat-card-content>
    </mat-card>
</form>