<!-- <h1>App</h1>
    <ul>
        <li>
            <a routerLink="/home" routerLinkActive="active">navigation</a>
        </li>
        <li>
            <a routerLink="/register-categoria" routerLinkActive="active">register</a>
        </li>
        <li>
            <a routerLink="/listar-categoria" routerLinkActive="active">lista</a>
        </li>
        <li>
            <a routerLink="/arbol" routerLinkActive="active">arbol</a>
        </li>
        <li>
            <a routerLink="/dashboard" routerLinkActive="active">dashboard</a>
        </li>
        <li>
            <a routerLink="/dragdrop" routerLinkActive="active">dragdrop</a>
        </li>
    </ul>
    <router-outlet></router-outlet> -->
<app-home></app-home>